.about-content{
    padding: 20px 0;
    padding-top: 100px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Roboto Slab';
    padding-left: 30px;
}

.about-img-content{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 60px 0;

}

.about{
    width: 100%;
    padding-bottom: 100px;
}



.profile-img{
    height: 275px;
    border-radius: 50%;

}

.about-paragraph {
    font-weight: 900;
    width: 80%;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.about-title{
    width: 80%;
    font-family: 'Roboto Slab';
    font-size: 40px;
    text-align: left;
}

.about-intro1{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-top: -10px;
    text-transform: uppercase;
}

.about-intro2{
    text-align: left;
    margin-top: -20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.hr-about{
    width: 40%;
}


.about-wrapper{
    padding-top: -20px;
    margin-top: -100px;
    font-size: 25px;
    padding-bottom: 25px;
    -moz-animation: pulse 1.3s infinite;
    -webkit-animation: pulse 1.3s infinite;
    animation: bounce 3s infinite;
  
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(5px);
    }
    60% {
      transform: translateY(5px);
    }
  }


@media screen and (min-width: 630px) {
    .about{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-bottom: 160px;
        margin: auto;
    }
}

@media screen and (min-width: 630px){
    .about-content{ 
        width: 66.66%;
        padding-top: 20px;
        padding-left: 60px;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        font-family: 'Roboto Slab';
    }
}

@media screen and (min-width: 630px){
    .about-img-content{
        padding-right: 100px;
        padding-top: 100px;
       }
}

@media screen and (min-width: 630px){
.about-intro2{
    text-align: left;
    margin-top: -20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
 }
}

@media screen and (min-width: 630px){
    .about-paragraph {
        font-weight: 900;
        width: 80%;
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
    }
    
}