html {
  box-sizing: border-box;
}


.landing-background{
  background-color:black;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center top;
  color: white;
  text-align: center;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url(https://c1.staticflickr.com/9/8382/8494622392_d5e5d10abb_b.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.main-body{
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
}

.site-title{
  font-family: 'Roboto Slab';
  font-size: 60px;
}

.site-description{
  font-family: 'Montserrat';
  font-size: 20px;
  margin-top: -30px;
}

.header-links{
  display: inline-block;
  align-items: center;
  position: relative;
  justify-content: space-between;
  margin: auto;
}

.icon{
  font-size: 20px;
  width: 36px;
	height: 36px;
	border: 2px solid white;
	border-radius: 100%;
	margin-right: 7px; 
  line-height: 38px;
  color: white;
  
}

.icon:hover{
  color: black;
  background-color: white;
}

.arrow-wrapper{
  padding-top: 25px;
  font-size: 25px;
  -moz-animation: pulse 1.3s infinite;
  -webkit-animation: pulse 1.3s infinite;
  animation: bounce 3s infinite;

}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(5px);
  }
}

