html {
  box-sizing: border-box;
}

.header-h1{
  font-size: 20px;
  text-align: center;
}

.landing-background{
  background-color: black;
  background-size: cover;
  padding: 200px;
  background-attachment: fixed;
  background-position: center top;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.main-body{
  display: flex;
  flex-direction: column;
  text-align: center;
}