.contact{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 110px;
}

.contact-header{
    font-size: 40px;
    font-family: 'Roboto Slab';
}

.contact-content{
    font-family: 'Roboto Slab';
    font-size: 15px;
    padding-bottom: 20px;
}

.connect-header{
    font-family: 'Montserrat';
    font-size: 25px;
}

.btn-primary {
    font-weight: 600;
    text-transform: none;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto Slab';
    background-color: #d4812f;
    border-color: #f05f40;
    padding: 8px 20px;
    color: black;
  }

.btn-primary:hover,
.btn-primary:active {
  color: #fff;
  background-color: #ee4b28;
}