.footer{
    background-color: black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 30px;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url(https://c1.staticflickr.com/9/8382/8494622392_d5e5d10abb_b.jpg);
}

.footer-links{
  display: inline-block;
  align-items: center;
  position: relative;
  justify-content: space-between;
  margin: auto;
}

.copyright{
    margin: auto;
    padding-top: 15px;
    font-family: 'Roboto Slab';
    color: white;
    font-size: 18px;
    letter-spacing: 1.3px;
}

.copyright-icon{
    padding-right: 6px;
}