.Nav{
    width: 100%;
    display: flex;
    height: 50px;
    top: 0;
    z-index: 10;
    position: fixed;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    background-color: black;
}

/*.social-icon img {
    height: 20px;

}

*/

a {
    box-sizing: content-box;
    padding-bottom: 5px;
}


.nav-item{
    color: white;
    flex-direction: row;
}

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 200px;
    justify-content: space-between;
    color: white;
    padding-left: 30px;
    position: relative;
    margin-left: 10px;
    font-family: 'Roboto';
    font-size: 16px;
    height: 60px;
  }
  
  a {
      box-sizing: content-box;
      padding-bottom: 5px;
  }

  .header-nav{
    display: inline-block;
    align-items: center;
    padding-left: 90px;
    position: relative;
    justify-content: space-between;
    margin: auto;
    margin-right: 50px;
  }
  
  .nav-name{
    color: white;
    font-family: 'Roboto';
    font-size: 18px;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-top: 16px;
  }

  .nav-name:hover{
      cursor: pointer;
      color: #FEFEFE;
  }

 .nav-link:hover{
     cursor: pointer;
     -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px white;
 }

  @media screen and (max-width: 393px){
    .header-nav{
        display: inline-block;
        align-items: center;
        padding-left: 0px;
        position: relative;
        justify-content: space-between;
        margin: auto;
        margin-right: 2000px;
      }
      
}

@media screen and (min-width: 0px){
    .header-nav{
        display: inline-block;
        align-items: center;
        padding-left: 0px;
        position: relative;
        justify-content: space-between;
        margin: auto;
        margin-right: 2000px;
      }
      
}


  @media screen and (min-width: 393px){
    .header-nav{
        display: inline-block;
        align-items: center;
        padding-left: 90px;
        position: relative;
        justify-content: space-between;
        margin: auto;
        margin-right: 50px;
      }
      
}