.Nav{
    width: 100%;
    display: flex;
    height: 50px;
    top: 0;
    z-index: 10;
    position: fixed;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    background-color: black;
}

.social-icon img {
    height: 20px;

}


  
a {
    box-sizing: content-box;
    padding-bottom: 5px;
}


.nav-item{
    color: white;
    flex-direction: row;
}

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 200px;
    justify-content: space-between;
    color: white;
    padding-left: 30px;
    position: relative;
    margin-left: 10px;
  }
  
  a {
      box-sizing: content-box;
      padding-bottom: 5px;
  }

  .header-nav{
      display: flex;
      width: 100%;
      height: 60px;
      padding: 0;
      flex-direction: row;
  }

  .social-links{
      display: inline-block;
      align-items: center;
      padding-left: 90px;
      position: relative;
      justify-content: space-between;
      margin: auto;
      margin-right: 50px;
  }

  .social-icon{
      padding: 10px;
  }