.tech-header{
    font-family: 'Roboto Slab';
    font-size: 40px;
    padding-bottom: 30px;
}

.skills-container{
    padding-bottom: 20px;
}



.col-4{
    font-family: 'Roboto Slab';
    margin: auto;
}

.skills-header{
    font-family: 'Roboto Slab';
    font-size: 30px;
}

ul{
    list-style-position: inside;
    text-align: left;
    margin-left: 80px;
}

.hr-skills{
    width: 40%;
    margin-top: 550px;
    text-align: center;
}

@media screen and (min-width: 730px){
    .col-4{
        width: 33%;
        float: left;
        font-family: 'Roboto Slab';
    }
}

li{
    list-style: none;
    padding: 5px;
    font-size: 16px;
}

li:before {
    content: "\25B9";
    margin: 10px;
}