.project-img-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.project-img{
    max-width: 70%;
    margin: 0 auto;
    padding-right: 10px;
}

.iphone-img{
    width: 18%;
    display: inline-block;
}

.project-tools-content{
    color: black;
    padding: 20px 0;
}

.project-content{
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    padding-bottom: 100px;
}

.content-reverse{
    flex-direction: row-reverse;
}

.work-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    padding: 50px;
    margin: 0 auto;

}

.work-header{
    font-size: 35px;
    font-family: 'Freight Display Pro';
    text-decoration: underline;
}

.skills-header{
    font-family: 'Freight Display Pro';
}

.work-header2{
    font-family: 'Freight Display Pro';
}

.project-title{
    text-decoration: underline;
    font-size: 30px;
    margin-right: 200px;
    font-family: 'Freight Display Pro';
}

.work-header2{
    padding-bottom: 100px;
}

.project-description{
    font-family: 'Freight Display Pro';
}