.project-img-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.project-img{
    max-width: 60%;
    margin: 0 auto;
    padding-right: 10px;
}

.iphone-img{
    width: 18%;
    display: inline-block;
}

.project-tools-content{
    color: black;
    padding: 20px 0;
}

.project-content{
    display: flex;
    flex-direction: row;
    padding: 30px 0;
}

.content-reverse{
    flex-direction: row-reverse;
}

.work-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    padding: 50px;
    margin: 0 auto;

}

.work-header{
    font-size: 40px;
    font-family: 'Roboto Slab';

}

.skills-header{
    font-family: 'Roboto Slab';
    font-size: 20px;
}

.work-header2{
    font-family: 'Roboto Slab';
    padding-bottom: 100px;
}

.project-title{
    text-decoration: underline;
    font-size: 30px;
    margin-right: 200px;
    font-family: 'Freight Display Pro';
}

.project-description-content{
    font-family: 'Roboto Slab';
    width: 33%;
}

.app-description{
    padding-bottom: 30px;
    padding-top: 15px;
    font-family: 'Roboto Slab';
    font-size: 20px;
}

.app-title{
    font-size: 40px;
    font-family: 'Freight Display Pro';
    padding-bottom: 10px;
}

.hr-description{
    width: 55%;
    margin-top: 60px;
}

.hr-app{
    width: 30%;
    margin-top: -10px;
}

.hr-header{
    width: 25%;
    margin-top: -20px;
    margin-bottom: 20px;
}

.code-button{
    border: solid 2px #ffaa97;
    border-radius: 3px;
    color: rgba(80, 75, 75, 0.986);
    background-color: #edededbd;
    font-size: 1rem;
    padding: 5px 20px;
    font-family: 'Montserrat';
}

.live-button{
    border: solid 2px #ffaa97;
    border-radius: 3px;
    color: rgba(80, 75, 75, 0.986);
    background-color: #edededbd;
    margin-right: 10px;
    font-size: 1rem;
    padding: 5px 20px;
    font-family: 'Montserrat';
}

.code-button:hover{
    cursor: pointer;
    border-color: #5aa2ff;
}

.live-button:hover{
    border-color: #5aa2ff;
    cursor: pointer;
}

.app-buttons{
    margin-top: 40px;
}

.app-link{
    color: #2e7de6;
    font-size: 1rem;
    margin-top: -40px;
    font-family: 'Roboto Slab'
}

a{
    text-decoration: none;
}