.project-img-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.iphone-img{
    width: 13%;
    display: inline-block;
}

.project-tools-content{
    color: black;
    padding: 20px 0;
}

.project-content{
    display: flex;
    flex-direction: row;
    padding: 30px 0;
}

.work-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;

}

.work-header{
    font-size: 40px;
    font-family: 'Roboto Slab';

}

.project-title{
    text-decoration: underline;
    font-size: 30px;
    margin-right: 200px;
    font-family: 'Freight Display Pro';
}

.project-description-content{
    font-family: 'Open Sans', sans-serif;

}

.app-description{
    padding-bottom: 50px;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.app-title{
    font-size: 40px;
    font-family: 'Freight Display Pro';
    padding-bottom: 10px;
    margin-top: -40px;
}


.hr-description{
    width: 50%;
    margin-top: 60px;
}

.hr-app{
    width: 30%;
    margin-top: -10px;
}

.code-button{
    border: solid 2px #595959;
    border-radius: 3px;
    color: rgba(80, 75, 75, 0.986);
    background-color: #edededbd;
    font-size: 1rem;
    padding: 5px 20px;
    font-family: 'Open Sans', sans-serif;
}

.live-button{
    border: solid 2px #595959;
    border-radius: 3px;
    color: rgba(80, 75, 75, 0.986);
    background-color: #edededbd;
    margin-right: 10px;
    font-size: 1rem;
    padding: 5px 20px;
    font-family: 'Open Sans', sans-serif;
}

.code-button:hover{
    cursor: pointer;
    border-color: #5aa2ff;
}

.live-button:hover{
    border-color: #5aa2ff;
    cursor: pointer;
}

.app-buttons{
    margin-top: 40px;
}

.app-link{
    color: #2e7de6;
    font-size: 1rem;
    margin-top: -40px;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

.project-img{
    max-width: 40%;
    margin: 0 auto;
    padding-right: 10px;
}

@media screen and (max-width: 950px){
    .project-img{
        max-width: 60%;
        margin: 0 auto;
        padding-right: 10px;
    }
}

@media screen and (max-width: 650px){
    .project-img{
        max-width: 70%;
        margin: 0 auto;
        padding-right: 10px;
        z-index: 1;
    }
    .iphone-img{
        width: 20%;
        display: inline-block;
        z-index: 2;
    }
}


@media screen and (max-width: 530px){
    .project-img{
        max-width: 70%;
        margin: 0 auto;
        padding-right: 10px;
    }
}

@media screen and (max-width: 434px){
    .iphone-img{
        width: 20%;
        display: inline-block;
    }
}


@media screen and (min-width: 730px){
    .app-details{
        padding-left: 80px;
        padding-right: 80px;
    }
}

